<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="patients" routerLinkActive="Active" class="nav-link" >Patients List</a>

    </li>
    <li class="nav-item">
      <a routerLink="create-patient" routerLinkActive="Active" class="nav-link" > Add Patients </a>

    </li>
    
  </ul>
</nav>

<div class="center">
  <h1 >Hospital Management System </h1>
</div>

<div class="container ">
  <!-- <app-login></app-login> -->
  <!-- <app-patiant-list></app-patiant-list> -->
  <!-- <app-patient></app-patient> -->
  <!-- <app-create-patient></app-create-patient> -->
<router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2023 @Pradnesh_Dehsmukh</span>

  </div>

</footer>

